.swiper-pagination-clickable .swiper-pagination-bullet {
	background: var(--color-primary);
}

.swiper__container {
	width: 100%;
}

.swiper-button-prev {
	color: var(--color-primary);
	position: absolute;
	top: 218px;
	left: 0;
	padding: 2rem;
}

.swiper-button-next {
	color: var(--color-primary);
	position: absolute;
	top: 218px;
	right: 0;
	padding: 2rem;
}

@media screen and (max-width: 1024px) {
	.swiper-button-prev {
		display: none;
	}

	.swiper-button-next {
		display: none;
	}
}
