/* ////////////////////////////////////////////////////////////////////////////////////////////
//
//    NAVIGATION DOTS BELOW
//
//////////////////////////////////////////////////////////////////////////////////////////// */

.swiper-pagination-clickable .swiper-pagination-bullet {
	background: var(--color-primary);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////
//
//    NAVIGATION ARROWS
//
//////////////////////////////////////////////////////////////////////////////////////////// */
.swiper-button-prev {
	color: var(--color-primary);
	left: 0;
	padding: 2rem;
	position: absolute;
	top: calc((100% - 222.434px) / 2);
}

.swiper-button-next {
	color: var(--color-primary);
	padding: 2rem;
	position: absolute;
	right: 0;
	top: calc((100% - 222.434px) / 2);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////
//
//    MEDIA QUERY FOR NAVIGATION ARROWS
//
//////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1130px) {
	.swiper-button-prev {
		display: none;
	}

	.swiper-button-next {
		display: none;
	}
}
