/* ////////////////////////////////////////////////////////////////////////////////////////////
//
//    NAVIGATION DOTS BELOW
//
//////////////////////////////////////////////////////////////////////////////////////////// */

.swiper-pagination-clickable .swiper-pagination-bullet {
	/*Box model stuff*/
	background: var(--color-primary);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////
//
//    NAVIGATION ARROWS
//
//////////////////////////////////////////////////////////////////////////////////////////// */
.swiper-button-prev {
	/*Positioning stuff*/
	position: absolute;
	left: 0;
	top: calc((100% - 222.434px) / 2);
	/*Box model stuff*/
	padding: 2rem;
	/*Typography stuff*/
	color: var(--color-primary);
}

.swiper-button-next {
	/*Positioning stuff*/
	position: absolute;
	right: 0;
	top: calc((100% - 222.434px) / 2);
	/*Box model stuff*/
	padding: 2rem;
	/*Typography stuff*/
	color: var(--color-primary);
}

/* ////////////////////////////////////////////////////////////////////////////////////////////
//
//    MEDIA QUERY FOR NAVIGATION ARROWS
//
//////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1130px) {
	.swiper-button-prev {
		/*Display stuff*/
		display: none;
	}

	.swiper-button-next {
		/*Display stuff*/
		display: none;
	}
}
