*,
*::before,
*::after {
	/*Box model stuff*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/*Box model stuff*/
	height: 100%;
	margin: 2.5vh 0 2.5vh 350px;
	background: linear-gradient(to left top, rgb(167, 30, 160), #0b8793) fixed;
	/*Typography stuff*/
	font-family: "Roboto Mono", monospace;
	color: white;
	/*Miscellaneous*/
	box-sizing: border-box;
	overflow-x: hidden;
}

.slider-list {
	height: 100%;
}

@media only screen and (max-width: 1024px) {
	body {
		margin: 0;
	}
}

@media only screen and (max-height: 650px) {
	body {
		margin: 0;
	}
}
