@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
	/*Box model stuff*/
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*Typography stuff*/
	text-decoration: none;
	/*Miscellaneous*/
	box-sizing: border-box;
	list-style: none;
}

:root {
	/*Miscellaneous*/
	--color-bg: rgb(40, 40, 40);
	--color-bg-variant: rgb(75, 90, 89);
	--color-primary: #00c8ff;
	--color-primary-variant: #00c8ff66;
	--color-white: rgb(250, 250, 250);
	--color-light: rgba(255, 255, 255, 0.6);

	--transition: all 400ms ease;

	--border: 2px;

	--container-width-large: 75%;
	--container-width-medium: 86%;
	--container-width-small: 90%;
}

html {
	/*Miscellaneous*/
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	/*Display stuff*/
	display: none;
}

body {
	/*Box model stuff*/
	background: var(--color-bg);
	background-image: url(images/bg-texture.png);
	/*Typography stuff*/
	font-family: "Poppins", sans-serif;
	color: var(--color-white);
	/*Miscellaneous*/
	line-height: 1.7;
}

/* GENERAL STYLES */

.container {
	/*Box model stuff*/
	width: var(--container-width-large);
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
	/*Typography stuff*/
	font-weight: 500;
}

h1 {
	/*Typography stuff*/
	font-size: 3.5rem;
}

h2 {
	/*Typography stuff*/
	font-size: 2rem;
}

h5 {
	/*Typography stuff*/
	font-size: 0.9rem;
}

section {
	/*Box model stuff*/
	min-height: 100vh;
	margin-top: 8rem;
	padding-top: 5rem;
}

section > h2,
section > h5 {
	/*Typography stuff*/
	text-align: center;
	color: var(--color-light);
}

section > h2 {
	/*Box model stuff*/
	margin-bottom: 3rem;
	/*Typography stuff*/
	color: var(--color-primary);
}

.text-light {
	/*Typography stuff*/
	color: var(--color-light);
}

a {
	/*Typography stuff*/
	color: var(--color-primary);
	/*Manipulations stuff*/
	transition: var(--transition);
}

a:hover {
	/*Typography stuff*/
	color: var(--color-white);
}

.btn {
	/*Display stuff*/
	display: inline-block;
	/*Box model stuff*/
	width: max-content;
	padding: 0.75rem 1.2rem;
	border: 1px solid var(--color-primary);
	border-radius: 0.4rem;
	/*Typography stuff*/
	color: var(--color-primary);
	/*Manipulations stuff*/
	transition: var(--transition);
	/*Miscellaneous*/
	cursor: pointer;
}

.btn:hover {
	scale: 1.1;
}

.btn:hover {
	/*Box model stuff*/
	border-color: transparent;
	background: var(--color-white);
	/*Typography stuff*/
	color: var(--color-bg);
}

.btn-primary {
	/*Box model stuff*/
	background: var(--color-primary);
	/*Typography stuff*/
	color: var(--color-bg);
}

img {
	/*Display stuff*/
	display: block;
	/*Box model stuff*/
	width: 100%;
	/*Miscellaneous*/
	object-fit: cover;
}

/* MEDIA QUERIES (TABLET DEVICES) */

@media screen and (max-width: 1024px) {
	.container {
		/*Box model stuff*/
		width: var(--container-width-medium);
	}

	section {
		/*Box model stuff*/
		margin-top: 5rem;
		padding-top: 1rem;
	}
}

/* MEDIA QUERIES (PHONE DEVICES) */

@media screen and (max-width: 600px) {
	.container {
		/*Box model stuff*/
		width: var(--container-width-small);
	}

	section > h2 {
		/*Box model stuff*/
		margin-bottom: 2rem;
	}
}

@media screen and (max-width: 370px) {
	.btn {
		font-size: 0.8rem;
	}
}
