html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto Slab", serif;
	background: linear-gradient(90deg, #360033, #0b8793);
	margin-left: 270px;
}

h1 {
	margin: 0;
	padding: 0;
}

.page-container {
	display: flex;
}

.contact-container {
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-top: 40vh;
	margin-inline: auto;
}

.contact-container a {
	text-decoration: none;
}

.contact-container h3 {
	font-weight: 400;
}

.contact-container a:hover {
	text-decoration: underline;
}

.contact-info {
	margin: 0;
	padding: 0;
	color: white;
	font-size: 20px;
}

.contact-info i {
	margin-right: 10px;
}

ul {
	margin: 0;
}

.profilePicture {
	width: 200px;
	height: 200px;
	background-color: grey;
	margin: 30px auto 20px;
	border-radius: 50%;
	box-shadow: 5px 5px 20px black;
}

.profileName {
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
}

.sidebar {
	height: 100vh;
	width: 250px;
	background-color: rgb(239, 239, 239);
	position: fixed;
	top: 0;
	left: 0;
}

.sidebarList {
	height: auto;
	width: 100%;
	padding: 0;
}

.sidebarList .row {
	height: 50px;
	width: 100%;
	list-style-type: none;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.sidebarList .active {
	background-color: rgb(140, 173, 201);
}

.sidebarList .row:hover {
	cursor: pointer;
	background-color: rgb(184, 219, 255);
}

.row #icon {
	flex: 30%;
	display: grid;
	place-items: center;
}

.row #title {
	flex: 70%;
}

.glass {
	background: rgba(255, 255, 255, 0.14);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	z-index: -1;
	position: absolute;
	left: 250px;
	margin: auto;
}
