*,
*::before,
*::after {
	/*Box model stuff*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/*Box model stuff*/
	margin: 2.5vh 0 2.5vh 350px;
	background: linear-gradient(90deg, #881882, #0b8793);
	/*Typography stuff*/
	font-family: "Roboto Mono", monospace;
	/*Miscellaneous*/
	box-sizing: border-box;
	color: white;
}

div {
}
